{% set block_category_media_title__base_class = 'block-category-media-title' %}

<div {{ add_attributes(text_with_media__attributes) }}>
  <div {{ bem('inner', [], text_with_media__base_class) }}>
    <div {{ bem('image', [], text_with_media__base_class) }}">
    <img src="{{ block_category_media_image_src }}" alt="{{ block_category_media_text_title }}">
  </div>
  <div {{ bem('category', [], text_with_media__base_class) }}>
    <a class="category" href="{{ block_category_url }}">
      {{ block_category_media_category }}
    </a>
  </div>
  <div {{ bem('column', [], text_with_media__base_class) }}>
    <div {{ bem('content', [], text_with_media__base_class) }}">
    {{ block_category_media_text_title }}
  </div>
</div>
